<div class="grid p-fluid">
  <div class="col-12">
    <div class="card">
      <h2>Tickets</h2>
      <form [formGroup]="filterForm">
        <div class="flex justify-content-between align-items-center mb-2">
          <p-button
            label="Criar Ticket"
            icon="pi pi-plus"
            [routerLink]="['/panel/tickets/create']"
          ></p-button>
          <p-checkbox
            label="Ocultar Finalizados"
            formControlName="hideFinalized"
            binary="true"
          ></p-checkbox>
        </div>
      </form>

      <p-table [value]="filteredTickets" responsiveLayout="scroll" sortField="hoursOpen" [sortOrder]="-1">  
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Requisitante</th>
            <!-- <th>Email</th> -->
            <!-- <th>Celular</th> -->
            <th>Descrição</th>
            <th pSortableColumn="hoursOpen">Aberto há</th>
            <!-- <th>Data de Início</th> -->
            <!--  <th>Data de Fim</th> -->
            <th>Status</th>
            <!-- <th>Tratativa</th> -->
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
          <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.requesterName }}</td>
            <!-- <td>{{ ticket.email }}</td> -->
            <!-- <td>{{ ticket.phone }}</td> -->
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.hoursOpen }} horas</td>
            <!-- <td>{{ ticket.startDate | date }}</td> -->
            <!-- <td>{{ ticket.endDate | date }}</td> -->
            <td>{{ ticket.status }}</td>
            <!-- <td>{{ ticket.resolution }}</td> -->
            <td>
              <p-button
                icon="pi pi-pencil"
                class="p-button-warning"
                [routerLink]="['/panel/tickets/edit', ticket.id]"
              ></p-button>

              <p-button
                icon="pi pi-trash"
                severity="danger"
                class="ml-2"
                (click)="onDelete(ticket.id)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
