<div class="grid">
    <div class="col-12">
        <div class="card p-fluid p-d-flex p-jc-center p-ai-center p-text-center">
            <img src="./assets/layout/images/logo-dark.png" alt="Saltos" class="logo p-mr-4">
            <div class="text-center mt-3">
                <h4 class="p-mr-4">Seja bem-vindo ao Chamado Rápido Saltos!</h4>
            </div>
            
            <button [routerLink]="['/tickets/create']" pButton pRipple label="Abra agora o seu chamado rápido" class="w-full" ></button>
            <button [routerLink]="['/login']" pButton pRipple label="Área do colaborador" class="mt-2 w-full" ></button>
        </div>
    </div>
</div>
